@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    font-family: "Inter", sans-serif;
    /*font-family: "Comfortaa", sans-serif; */
}

.main-block , .about-block , .skills-block , .works-block , .comments-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#main{
    background-image: url("/img/bgMAIN.png");
    position: relative;
}

#main .planet1{
    position: absolute;
    margin-top: 400px;
    /* bottom: -10;
    left: -10; */
}

#main .main-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url("/img/card.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}

#about{
    background-image: url("/img/bgABOUT.png");
}

#skills{
    background-image: url("/img/bgSKILLS.png");
}

#works{
    background-image: url("/img/bgWORKS.png");
}

#comments{
    background-image: url("/img/bgCOMMENTS.png");
}

#main img{
    display: flex;
    margin-right: 30%;
}

#main .main-content{
    /* background-image: url("img/card.png");
    background-position: start; 
    background-repeat: no-repeat;
    background-size: contain; */

    background-image: url("https://gas-kvas.com/uploads/posts/2023-02/1675451820_gas-kvas-com-p-fonovie-risunki-nebesa-nebo-35.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 0px 15px 10px;
    border-radius: 10px;
    width: 45%;
    background-color: aliceblue;
    height: 150px;
    /* background-color: aquamarine; */
    /* background-color: blueviolet; */
    /* background-color: rgb(60, 60, 224); */
}

.main-title{
    margin-top: 15px;
    font-size: 50px;
}

.main-subtitle{
    margin-top: 10px;
}

.button a{
    text-decoration: none;
    color: black;
}

.button{
    margin-top: 35px;
    background-color: #BBFF2C;
    box-shadow: 2px 2px 2px;
    padding: 6px;
    border-radius: 10px;
    transition: all 0.5s;
}

.button:hover{
    background-color: #d1fa78;
}